.cache/
include/glad/
src/glad.c
lib/glfw3.lib
include/GLFW/
include/glm/
include/KHR/
include/assimp/
include/freetype/
include/SDL3/
include/nlohmann/
include/stbimage/
include/json.hpp
build/
src/stb_image.c
stb_image.h

